<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="header :: myheader"></div>
</head>

<body>
<table class="table-responsive" id="sort">
    <thead>
    <tr>
        <th scope="col">Film Title</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Duration</th>
    </tr>
    </thead>
    <tbody th:each="Film: ${films}">
    <tr>
        <td data-table-header="title"><a th:href="@{/Film/{id}(id = ${Film.id})}" th:text="${Film.title}"></a></td>
        <td data-table-header="desc" th:text="${Film.description}"></td>
        <td data-table-header="category" th:text="${Film.category}"></td>
        <td data-table-header="duration" th:text="${Film.duration}"></td>
    </tr>
    </tbody>



</table>

<img src="../static/images/camera.jpg" width="100" th:src="@{images/camera.jpg}"/>

</body>

</html>