<!DOCTYPE html>
<html>
<head>
    ...
</head>
<body>
...
<div th:replace="fragments/header :: header">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="hero-unit">
        <h1>VIEWER</h1>
        <p>
            this is a test page. VIEWER'S page.
        </p>

    </div>
    <div th:replace="fragments/footer :: footer">&copy;Viewer page, SpringBoot project, NaUKMA 2022</div>
</div>
...
</body>
</html>